<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{titulo}}</h1>
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required>
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="">Descripción</label>
            <textarea class="form-control" #description="ngModel" name="description" [(ngModel)]="artist.description"></textarea>
            <span *ngIf="!description.valid && description.touched">
                La descripción es obligatoria
            </span>
        </div>

        <div class="form-group">
            <div *ngIf="is_edit">
                <div class="artist_image_for_edit" *ngIf="artist.image && artist.image != 'null'">
                    <img src="{{url + 'get-image-artist/' + artist.image}}" alt="">
                </div>

                <label for="">Subir imagen de artista</label>
                <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
            </div>
        </div>



        <input type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid" class="btn btn-success" />
    </form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p>No tienes acceso a esta parte de la aplicación.</p>
</div>