<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{titulo}}</h1>
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>

    <form #formSong="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Número</label>
            <input class="form-control" type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required>
            <span *ngIf="!number.valid && number.touched">
                Número de canción es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="">Titulo</label>
            <input class="form-control" type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required>
            <span *ngIf="!name.valid && name.touched">
                El título es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label for="">Duración</label>
            <input class="form-control" type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required>
            <span *ngIf="!duration.valid && duration.touched">
                La duración es obligatoria
            </span>
        </div>

        <div class="form-group">
            <div *ngIf="is_edit">
                <div class="song_file_for_edit" *ngIf="song.file && song.file != 'null'">
                    <audio controls>
                        <source src="{{url + 'get-song-file/' + song.file}}" type="audio/mpeg">
                    </audio>
                </div>

                <label for="">Subir archivo de audio</label>
                <input type="file" placeholder="Subir canción..." (change)="fileChangeEvent($event)">
            </div>
        </div>

        <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btn btn-success" />
    </form>
</div>